<html>
    <head>
      <title>Pi Observer</title>
    </head>
    <body>
        <div>
            Header
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            User: {{ current_user.username }}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
