{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <div class="alert alert-primary" role="alert">
        Logged as: {{ current_user.username }}, you can go to the
        <a href="{{ url_for('/dash/') }}" class="alert-link">dashboard</a>.
    </div>
    <div class="row">
        <div class="col-md-5 mb-3">
            <div class="card">

                <div class="card-header">
                    GPIO Remote controls
                </div>

                <div class="card-body">
                    {% for pin in pins %}
                        {% if pins[pin].state == true %}
                            <a
                                href="/{{pin}}/off"
                                role="button"
                                class="btn btn-success"
                                >
                                {{ pins[pin].name }}
                            </a>
                        {% else %}
                            <a
                                href="/{{pin}}/on"
                                role="button"
                                class="btn btn-outline-secondary"
                                >
                                {{ pins[pin].name }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <img
                    class="card-img-top"
                    src="http://192.168.1.110:8081/"
                    alt="Camera image not available"
                >
                <div class="card-body">
                    <p class="card-text">Camera live stream</p>
                </div>
            </div>
        </div>
        <br>

    </div>

</div>

{% endblock %}
